* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-columns: 200px 200px 200px 200px;
  border: 4px solid black;
}
.grid-items{
  font-size: 2rem;
  display: grid;
  background-color: White;
  border: 0.1rem solid gray;
}
#box1 #box2 #box3 #box4 #box5 #box8 #box9 #box10 #box11{
  border-bottom: 0.5rem solid black;
}

#box3 #box7 #box10 #box11 #box12 #box15 {
  border-left: 0.5rem solid black;
}

.prompt {
  position: absolute;

}
.answer {
  width: 50%;
  height: 50%;
  text-align: center;
}
.special {
  border:  none;
  font-size: 2rem;
}
